@charset "utf-8";
/*양진체*/
@font-face {
    font-family: 'yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*프리텐다드
font-family: 'Pretendard';*/


*{margin: 0; padding: 0;}
img, video, iframe{
    vertical-align: middle;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2d2d2d;
}
img, video{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
body, html {
    cursor: url(../img/cursor.cur), auto
}
a {
    cursor: url(../img/cursor.cur), auto
}
body{
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2d2d2d;
    min-width:1450px;
}

/*top_event*/

#top_event_banner{
    background-color: #FFCD63;
    width: 100%;
}
.top_banner{
    text-align: center;
    line-height: 25px;
    height: 25px;
}

/*login*/

#login{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 30px;
}
.join{
    display: flex;
}
.sns_icon{
    display: flex;
}
.sns_icon li{
    padding-right: 16px;
}
.join_in{
    display: flex;
    align-items: center;
}
.join_in li{
    padding: 0 7px;
}
.join_in li a{
    transition: all 0.5s;
}
.join_in li:hover a{
    color: #2EBA71;
    transition: all 0.5s;
}
.search input:-ms-input-placeholder, .search input::-webkit-input-placeholder, .searcg input::-moz-placeholder{
    color: #ccc;
}
.search{
    height: 30px;
    width: 200px;
    border: 2px solid #2EBA71;
    border-radius: 8px;
    align-items: center;
}
.search input{
    background: #fff url(../img/serch.png) no-repeat right center;
    border: none;
    font-size: 14px;
    width: 165px;
    outline: none;
    padding-top: 7px;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
}
.search button{
    background:#2EBA71 url(../img/serch.png) no-repeat center center;
    color:#fff;
    border:none;
    padding:10px;
    outline-style:none;
    width: 35px;
    padding-left: 5px;
    height: 30px;
    outline: none;
    float: right;
    cursor: url(../img/cursor.cur), auto
}

/*header*/

header{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
header>h1{
    padding: 35px 0 65px;
}
#nav{
    display: flex;
    font-family: 'yangjin';
    justify-content: space-around;
    position: relative;
}
#nav>li{
    text-align: center;
    box-sizing: border-box;
    width: 25%;
    padding-bottom: 9px;
}
#nav>li>a{
    font-size: 20px;
    line-height: 20px;
    display:inline-block;
    padding: 10px 20px 5px;
    box-sizing: border-box;
}
#nav>li>a:hover{
    color: #2EBA71;
    box-sizing: border-box;
    transition: all 0.5s;
}
#nav_.on{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #2eba71;
    z-index: 99999999;
    height: 44px;
    box-sizing: border-box;
    padding-top: 5px;
}
#nav_.on #nav{
    width: 1320px;
    margin: 0 auto;
    border: 0px;
}
#nav_.on #nav>li{
    text-align: center;
    box-sizing: border-box;
}
#nav_.on #nav>li>a{
    border: 0px;
    display:inline-block;
    color: #fff;
}
#nav_.on #nav>li:hover>a{
    border: 0px;
}
#nav_.on #nav .sub_menu{
    top: 39px;
    background-color:  #CBD75B;
}


/*sub_menu*/

.sub_menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 1320px;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    background-color: #CBD75B;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    border-radius: 0 0 100px 0;
}
.sub_menu .sub{
    padding: 30px 0;
    width: 25%;
}
.sub_menu .sub li{
    padding-bottom: 20px;
}
.sub_menu .sub li a{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
}
#nav>li:hover .sub_menu {
	transform: scaleY(1);
	opacity: 1;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
}
.sub li a:hover{
    color: #2eba71;
    font-weight: 700;
    transition: all 0.5s;
}


/*product_top*/


#product_top{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#product_top h1{
    padding-top: 90px;
    font-family: 'yangjin';
    font-size: 60px;
    font-weight: normal;
}


/*lnb*/


#lnb{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 10;
}
#lnb li{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    width: 113px;
}
#lnb li.active a{
    color: #FF7340;
}
.hover_icon{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
#lnb li.active:hover a{
    color: #FF7340;
    transition: all 0.5s;
}
#lnb li:hover a{
    color: #FF7340;
    transition: all 0.5s;
}
#lnb li.active .hover_icon{
    opacity: 1;
    transition: all 0.5s;
}
#lnb li:hover .hover_icon{
    opacity: 1;
    transition: all 0.5s;
    color: #FF7340;
}
#lnb li a:hover .hover_icon{
    opacity: 1;
    transition: all 0.5s;
    color: #FF7340;
}


/*title*/



/*tab1*/
.tab_container{
    overflow-x: hidden;
}
#tab1 #title{
    background: url(../img/sub_banner1.png) no-repeat center center;
    width: 100%;
    height: 422px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#tab1 .title_in{
    width: 1320px;
    margin: 0 auto;
}
#tab1 .title_in{
    box-sizing: border-box;
    padding-left: 70px;
}
#tab1 .title_in h2{
    font-family: 'yangjin';
    font-size: 30px;
    line-height: 38px;
    color: #FF7340;
    font-weight: normal;
}
#tab1 .title_in p{
    font-size: 16px;
    font-weight: 700;  line-height: 19px;
    padding-top: 30px;
    color: #FF7340;
}
#tab1 #title .title_product{
    position: absolute;
    top: -60px;
    right: 100px;
}

/*tab2*/

#tab2 #title{
    background: url(../img/sub_banner3.png) no-repeat center center;
    width: 100%;
    height: 422px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#tab2 .title_in{
    width: 1320px;
    margin: 0 auto;
}
#tab2 .title_in{
    box-sizing: border-box;
    padding-left: 70px;
}
#tab2 .title_in h2{
    font-family: 'yangjin';
    font-size: 30px;
    line-height: 38px;
    color: #FF7340;
    font-weight: normal;
}
#tab2 .title_in p{
    font-size: 16px;
    font-weight: 700;  line-height: 19px;
    padding-top: 30px;
    color: #FF7340;
}
#tab2 #title .title_product{
    position: absolute;
    top: -230px;
    right: 120px;
}

/*tab3*/

#tab3 #title{
    background: url(../img/sub_banner2.png) no-repeat center center;
    width: 100%;
    height: 422px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#tab3 .title_in{
    width: 1320px;
    margin: 0 auto;
}
#tab3 .title_in{
    box-sizing: border-box;
    padding-left: 70px;
}
#tab3 .title_in h2{
    font-family: 'yangjin';
    font-size: 30px;
    line-height: 38px;
    color: #FF7340;
    font-weight: normal;
}
#tab3 .title_in p{
    font-size: 16px;
    font-weight: 700;  line-height: 19px;
    padding-top: 30px;
    color: #FF7340;
}
#tab3 #title .title_product{
    position: absolute;
    top: -220px;
    right: -100px;
}


/*product*/


.product_in{
    padding: 150px 0 100px;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.product_in .box1{
    width: 33.3%;
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
}
.product_in .box1 .best_new{
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 100;
}

@keyframes click{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.product_in .box1 .best_new p{
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'yangjin';
    font-size: 18px;
    color: #FF7340;
    animation: click 0.8s linear infinite;
}
.product_in .box1 h3{
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}
.product_in .box1 a>img{
    transition: all 0.5s;
}
.product_in .box1:hover a>img{
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
}
.product_in .box1>a{
    display: inline-block;
    overflow: hidden;
    width: 417px;
}
.product_in .box1 .price{
    display: flex;
    padding-top: 5px;
    align-items: end;
    box-sizing: border-box;
}
.product_in .box1 .price p{
    padding-right: 10px;
}
.product_in .box1 .price .review{
    margin-left: auto;
    color: #7A7A7A;
}
.product_in .box1 .price .review_icon{
    padding-right: 5px;
}
.product_in .box1 .price .product_cost{
    font-size: 12px;
    color: #7A7A7A;
    text-decoration: line-through;
}
.product_in .box1 .price .sale_price{
    font-size: 16px;
}
.product_in .box1 .price .sale{
    color: #2EBA71;
    font-size: 14px;
    font-weight: 900;
}


/*페이징*/

.wrap_paging{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.paging a.view {
    display: flex;
    justify-content: center;
    color: #2EBA71;
}
.paging a{
    height: 49px;
    width: 47px;
    line-height: 49px;
    font-size: 20px;
    font-weight: 700;
}
.paging a:nth-child(2){
    background: url(../img/page_number_hover.png) no-repeat 1px 2px;
}
.paging a:hover{
    color:#fff; font-weight:bold;
    background: url(../img/page_number.png) no-repeat 1px 2px;
    transition: all 0.5s;
    transform: scale(1.1, 1.1);
}
.paging{
    display: flex;
    justify-content: center;
}
.paging a:nth-child(1){
    margin-right: 30px;
}
.paging a.on {
    color:#fff; font-weight:bold;
    background: url(../img/page_number.png) no-repeat 1px 2px;
}
#product .bg1 {
    display:none;
}
#product .product_in.on {
    padding: 150px 0 100px;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*tab2, tab3*/
.wrap_paging_{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.paging_ a.view_ {
    display: flex;
    justify-content: center;
    color: #2EBA71;
}
.paging_ a{
    height: 49px;
    width: 47px;
    line-height: 49px;
    font-size: 20px;
    font-weight: 700;
}
.paging_ a:nth-child(2){
    background: url(../img/page_number_hover.png) no-repeat 1px 2px;
}
.paging_ a:hover{
    color:#fff; font-weight:bold;
    background: url(../img/page_number.png) no-repeat 1px 2px;
    transition: all 0.5s;
    transform: scale(1.1, 1.1);
}
.paging_{
    display: flex;
    justify-content: center;
}
.paging_ a:nth-child(1){
    margin-right: 30px;
}
.paging_ a.on_ {
    color:#fff; font-weight:bold;
    background: url(../img/page_number.png) no-repeat 1px 2px;
}
#product .product_in.on_ {
    padding: 150px 0 100px;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}




/*footer*/

#footer{
    width: 100%;
    margin-top: 300px;
    background: url(../img/footer_background.png) no-repeat bottom center;
    height: 407px;
    position: relative;
}
.footer_in{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
    color: rgba(255,255,255,0.5);
}
.footer_in p{
    transition: all 0.5s;
    padding-bottom: 10px;
}
.footer_in p:nth-child(1){
    color: #fff;
}
.footer_in p:hover{
    color: #fff;
    transition: all 0.5s;
}
#footer ul{width:1300px;
	margin:0 auto;
	text-transform:uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer ul>li{
    width: 12%;
    text-align: center;
}
#footer ul>li>a{
    display:block;
	font-size:14px;
    font-weight: 600;
	padding: 0 20px;
    color: #fff;
    }
.solid{
    width:100%;
	margin:auto;
	margin-top:5px;
	height:2px;
	background:#fff;
	visibility:hidden;
	opacity:0;
	transform:scaleX(0);
    transform-origin:left;
	transition-property:opacity, transform;
	transition-duration:0.5s;}
#footer ul>li>a:hover .solid{
    transform:scaleX(1);
	opacity:1;
	visibility:visible;
}

/*top_but*/
#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 133;
    height: 125px;
    z-index: 99999999;
    display:none;
}
#top:hover img{
    transform: rotate(45deg);
}
#top img{
    transition: all 0.5s;
}
.top_in{
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translateY(-40%);
    z-index: 2;
}
.top_in a{
    font-family: 'yangjin';
    font-size: 20px;
    color: #2eba71;
}
@keyframes move1{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
.beeb_footer{
    position: absolute;
    top: -160px;
    right: 200px;
    animation: move1 1s linear infinite ;
}